# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
category.tsx
textarea.tsx
.env
TPaginationType.ts
TOrderType.tsx
TFormType.ts
use-pagination.ts
TableCategory.tsx
use-category.ts
pagination.ts
category.ts
skeleton.tsx
used.tsx
useFetch.ts
ForbiddenPage.tsx
UnauthorizedPage.tsx
usePagination.ts
useCategory.ts
