@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@media (prefers-color-scheme: light) {
  body {
    @apply bg-white text-black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    @apply dark:bg-black dark:text-white;
  }
}
@layer base {
  * {
    @apply m-0 box-border p-0;
  }
  #root{
    @apply min-h-dvh w-full;
  }
  button {
    @apply inline-flex cursor-pointer appearance-none items-center justify-center gap-2 border border-transparent disabled:cursor-not-allowed disabled:in-hover:bg-inherit;
  }
}
