@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer base {
  button {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 border border-transparent disabled:cursor-not-allowed disabled:in-hover:bg-inherit;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .dark {
    button {
      @apply !bg-green-600;
    }
  }
}
